Source: com.github.msmaldi.nvidia-fan-service
Section: x11
Priority: optional
Maintainer: Matheus Maldi <msmaldi@hotmail.com>
Build-Depends: libx11-dev
               libxext-dev
Standards-Version: 1.0.0

Package: com.github.msmaldi.nvidia-fan-service
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Nvidia Fan Service
 Is a Nvidia Service
